.recipe{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.chilli{
    background-color: brown;
}
.sandwich{
    background-color: green;
}
.pizza{
    background-color: orange;
}